{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 donate-col">
                <h2>Wanna Donate?</h2>
                <p>Go ahead and serve the society!</p>
                <input type="button" class="btn btn-danger" value="Donate">
            </div>
            <div class="col-4 ngo-col" style="color: white;">
                <h2>Have an NGO?</h2>
                <p>Go ahead and serve the society!</p>
                <input type="button" class="btn btn-danger" value="Arrange">
            </div>
            <div class="col-4 delivery-col">
                <h2>Wanna deliver Happiness? </h2>
                <p>Go ahead and delier!</p>
                <input type="button" class="btn btn-danger" value="Deliver">
            </div>
        </div>
    </div>
{% endblock content %}